.wrapper{
    background-color:azure;
    margin: 0 200px;
    height: 600px;
    border-radius: 10px;
    box-shadow: inset;
}
.search{
    padding: 5px 60px 5px 25px;
    outline: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}
.btn-search{
    position: relative;
}
.close{
    position: absolute;
    top:50%;
    right: 10%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
