button.btn.btn-outline-danger {
    border: 1px solid crimson;
    transition: 0.5s all ease-in-out;
}
button.btn.btn-outline-danger:hover{
    scale: 1.1;
}
.show-more-less-clickable{
    color:crimson;
    font-style: italic;
    margin-left: 5px;
}