.title{
    background-color: white;
    margin: 15px 0;
    border-radius: 10px;
}

/* https://msmobile.com.vn/upload_images/images/hinh-nen-powerpoint-dep-nhat-2017-1.jpg */
.content{
    background-color: white;
}