.container.mt-3{
    height: auto;
} 
.row{
    margin: 0 2px !important;
}
.btn{
    border: 1px solid crimson;
}
.container.mt-3.d-flex.border{
    background-color: antiquewhite;
}
.border.border-dashed.p-3 {
    border: 1px dashed;
    background-color: aliceblue;
}
a.btn.btn-outline-danger {
    transition: 0.5s all ease-in-out;
}
a.btn.btn-outline-danger:hover{
    scale: 1.1;
}
.hr{
    width: auto;
    height: 1px;
    background-color: gray;
}