.row.d-flex.justify-content-center{
    background-color: white;
}
.location-icon,.phone-icon,.mail-icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 50%;
    display: flex; justify-content: center;
    align-items: center;
    cursor: pointer;
    color: crimson;
}
.contact-logo{
}
.contact-main{
    padding: 0 100px !important;
}
.text{
    margin-left: 15px;
}
.footer-contact{
    height: 150px;
    background-color:#ddd;
}
.title-footer-contact{
    margin: 0 100px;
}