.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:#ddd;
    border-bottom:1px solid black ;
}
.title-shop{
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    color: crimson;
}
.menu{
    margin-left: 25px;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    cursor: pointer; 
    text-decoration: none;
    color: black;
    transition: all 1s ease-in-out;
    &:hover{
        color: crimson;
        scale: 1.8;
    }
}
.btn-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        margin-right: 10px;  
        border: none;
        outline: none;
        border: 1px solid crimson;
        // background-color:crimson;
        color:crimson;
        font-weight: 500;
        padding: 8px 15px; 
        transition: 0.5s all ease-in-out;
        &:hover{
            scale: 1.1;
        }
    }
}
.active{
    color: crimson;
    scale: 1.2;
}
.btn{
}
.icon{
    margin-left: 5px;
}
.btn-cart{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
sup{
    font-size: 16px !important;
    margin-left: 5px;
    color:crimson;
}
.box{
    font-size: 12px;
    max-height: 350px;
    overflow-y: auto;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.btn-close{
    margin-left: 8px;
    font-size: 15px;
    color: crimson;
    cursor: pointer;
    border: none;
    background-color: white;
    outline: none;
}